@import 'variables';


.card {
  &__btn {
    border: 1px solid $colorOscuro;
    &:hover {
      color: $colorBlanco;
      background-color: $colorOscuro;
      border: 1px solid $colorTerciario;
      
    }
  }
}


.cardDetail {
  font-family: $fuentePrimario;
  &__btns {
      border: solid 2px $colorOscuro;
    &__agregarCarrito {
      background-color: $colorPrimario;
      color: $colorBlanco;
      padding: 4px 8px;
      &:hover {
        background-color: $colorOscuro;
        color: $colorAcento;
      }
    }
  }
}