@import 'variables';


#navBar {
  &__header{
    background-color: $colorOscuro;
    color: $colorBlanco;
    min-height: 6rem;
    transition: all 0.5s;
  }
  &__tittle {
    font-family: $fuentePrimario;
  }

  
}

.navBar{
  &__link {
    &:hover {
      color: $colorAcento;
    }
  }
}


