@import 'variables';


#SiderbarMenu {
  background-color: $colorOscuro;
  transition: .8s ease-in-out;
}

#SidebarMenu-icon {
  padding: 2px;
  background-color: $colorFuerte;
  border-radius: 15px 5px 5px 15px;
}