@import 'variables';


#main {
  background-color: $colorNeutral;
}

.card {
  &:hover &__image{
    transform: scale(1.1)
  }
}


.cardDetail {
  font-family: $fuentePrimario;
  background-color: $colorBlanco;
  &__btns {
      border: solid 2px $colorOscuro;
    &__agregarCarrito {
      background-color: $colorPrimario;
      color: $colorBlanco;
      padding: 4px 8px;
      transition-duration: 200ms;
      &:hover {
        background-color: $colorOscuro;
        color: $colorAcento;
      }
    }
    &__volver{
      color: $colorOscuro;
      background-color: $colorSecundario;
      align-self: flex-end;
      transition-duration: 200ms;
      &:hover {
        background-color: $colorOscuro;
        color: $colorAcento;
      }
    }
  }
}

#navBar {
  &__header{
    background-color: $colorOscuro;
    color: $colorBlanco;
    min-height: 6rem;
    transition: all 0.5s;
  }
  &__tittle {
    font-family: $fuentePrimario;
  }

  
}

.navBar{
  &__link {
    transition-duration: 200ms;
    &:hover {
      color: $colorAcento;
    }
  }
}


#SiderbarMenu {
  background-color: $colorOscuro;
  transition: .8s ease-in-out;
}

#SidebarMenu-icon {
  padding: 2px;
  background-color: $colorFuerte;
  border-radius: 15px 5px 5px 15px;
}

.footer {
  background-color: $colorOscuro;
  color: $colorBlanco;
}


.star {
  color: $colorOscuro;
  &__fill {
    color: gold;
    border-color: $colorOscuro;
  }
}



.loader {
  &__spinner {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 10px solid $colorOscuro;
    border-left-color: $colorAcento;
    animation: spin 1000ms ease infinite;
  }
  &__text {
    font-family: $fuentePrimario;
    color: $colorOscuro;
  }
  
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.text-error {
  font-family: $fuentePrimario;
  color: $colorOscuro;
}



.cart-resume {
  background-color: $colorBlanco;
  border-radius: 10px;
  &__btn-comprar {
    color: $colorBlanco;
    background-color: $colorTerciario;
    border-radius: 5px;
    transition: 300ms;
    &:hover {
      color: $colorAcento;
      background-color: $colorOscuro;
    }
  }
  &__btn-verProductos {
    color: $colorBlanco;
    background-color: $colorGris;
    border-radius: 5px;
    transition: 300ms;
    &:hover {
      background-color: $colorPrimario;
    }
  }
}

.cart-list {
  background-color: $colorBlanco;
  border-radius: 10px;
}

.cart-item-detail {
  border-bottom: 2px solid $colorNeutral;

}

.cart-counter {
  border: 1px solid $colorSecundario;
font-size: 1.25rem;
  &__rest {
    color: $colorSecundario;
  }
  &__sum {
    color: $colorFuerte;
  }
  &__total {
    color: $colorOscuro;
  }

}